<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>{{@file.path}}</h1>
	{{> blocks/title/title second="second title"}}
	{{> modules/footer/footer}}
	<foo>{{compare 3 4}}</foo>
	{{#each home.parse}}
		<div>{{item}}</div>
	{{/each}}
	<bar>{{home.boom}}</bar>
	{{#if 1}}
		<h4>true</h4>
	{{else}}
		<h4>false</h4>
	{{/if}}
	<img src="{{@root.fsFile}}/img.png" alt="">
</body>
</html>